{% extends 'layouts/base.html'%}
{%block content%}
<div class="row">
	<div class="col-12 col-xs-12 col-sm-10 col-md-6 col-xl-6 mx-auto mx-xs-auto col-sm-auto col-md-auto shadow p-3 mb-2 bg-white rounded">
   
       <h4>Activity App</h4>
       <h5>steps</h5>    

    open your browser and open the link <a href="https://activitytrack.herokuapp.com/">https://activitytrack.herokuapp.com/</a> . to check the app



<h5>login</h5> 
<p>
    - To login to admin open the link <a href="https://activitytrack.herokuapp.com/admin">https://activitytrack.herokuapp.com/admin</a> . <br>
    - username: admin <br>
    - pass: admin123
</p>

<h5>api</h5> 
<p>
    - an api call to. <a href="https://activitytrack.herokuapp.com/get_data_endpoint">https://activitytrack.herokuapp.com/get_data_endpoint</a> to get all data in json format<br>
    
</p>


	</div>
</div>
        
{%endblock content%}